---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/natevenn/followers?access_token=d55cfff6fe63bb47913d8ba069734e56efd895be
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1460044738'
      Etag:
      - W/"bbecacead8c0159c0663e701ff588554"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 0ce24880f5b4afedc5ef
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"MDes41","id":8398525,"avatar_url":"https://avatars.githubusercontent.com/u/8398525?v=3","gravatar_id":"","url":"https://api.github.com/users/MDes41","html_url":"https://github.com/MDes41","followers_url":"https://api.github.com/users/MDes41/followers","following_url":"https://api.github.com/users/MDes41/following{/other_user}","gists_url":"https://api.github.com/users/MDes41/gists{/gist_id}","starred_url":"https://api.github.com/users/MDes41/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MDes41/subscriptions","organizations_url":"https://api.github.com/users/MDes41/orgs","repos_url":"https://api.github.com/users/MDes41/repos","events_url":"https://api.github.com/users/MDes41/events{/privacy}","received_events_url":"https://api.github.com/users/MDes41/received_events","type":"User","site_admin":false},{"login":"marinacor1","id":14285122,"avatar_url":"https://avatars.githubusercontent.com/u/14285122?v=3","gravatar_id":"","url":"https://api.github.com/users/marinacor1","html_url":"https://github.com/marinacor1","followers_url":"https://api.github.com/users/marinacor1/followers","following_url":"https://api.github.com/users/marinacor1/following{/other_user}","gists_url":"https://api.github.com/users/marinacor1/gists{/gist_id}","starred_url":"https://api.github.com/users/marinacor1/starred[...]
