---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/natevenn/following?access_token=d55cfff6fe63bb47913d8ba069734e56efd895be
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1460044738'
      Etag:
      - W/"fa4c2def32fe5b3b4c38dab3a9ef0ff6"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 0ce24880f5b4afedc5ef
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"julsfelic","id":2493490,"avatar_url":"https://avatars.githubusercontent.com/u/2493490?v=3","gravatar_id":"","url":"https://api.github.com/users/julsfelic","html_url":"https://github.com/julsfelic","followers_url":"https://api.github.com/users/julsfelic/followers","following_url":"https://api.github.com/users/julsfelic/following{/other_user}","gists_url":"https://api.github.com/users/julsfelic/gists{/gist_id}","starred_url":"https://api.github.com/users/julsfelic/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/julsfelic/subscriptions","organizations_url":"https://api.github.com/users/julsfelic/orgs","repos_url":"https://api.github.com/users/julsfelic/repos","events_url":"https://api.github.com/users/julsfelic/events{/privacy}","received_events_url":"https://api.github.com/users/julsfelic/received_events","type":"User","site_admin":false},{"login":"adriennedomingus","id":10178677,"avatar_url":"https://avatars.githubusercontent.com/u/10178677?v=3","gravatar_id":"","url":"https://api.github.com/users/adriennedomingus","html_url":"https://github.com/adriennedomingus","followers_url":"https://api.github.com/users/adriennedomingus/followers","following_url":"https://api.github.com/users/adriennedomingus/following{/other_user}","gists_url":"https://api.github.com/users/adriennedomingus/gists{/gist_id}","starred_url":"https://api[...]
