---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/natevenn/orgs?access_token=d55cfff6fe63bb47913d8ba069734e56efd895be
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4968'
      X-Ratelimit-Reset:
      - '1460052741'
      Etag:
      - W/"e8e09776eee27b8670edf2abc3dab953"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 0ce24880f5b4afedc5ef
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"TestingTuringTesting","id":17713133,"url":"https://api.github.com/orgs/TestingTuringTesting","repos_url":"https://api.github.com/orgs/TestingTuringTesting/repos","events_url":"https://api.github.com/orgs/TestingTuringTesting/events","hooks_url":"https://api.github.com/orgs/TestingTuringTesting/hooks","issues_url":"https://api.github.com/orgs/TestingTuringTesting/issues","members_url":"https://api.github.com/orgs/TestingTuringTesting/members{/member}","public_members_url":"https://api.github.com/orgs/TestingTuringTesting/public_members{/member}","avatar_url":"https://avatars.githubusercontent.com/u/17713133?v=3","description":null}]'
  recorded_at: Thu, 07 Apr 2016 17:20:36 GMT
recorded_with: VCR 3.0.1
