---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/natevenn/repos?access_token=d55cfff6fe63bb47913d8ba069734e56efd895be
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1460044738'
      Etag:
      - W/"0af7636e4fefefdbc28936961e18c557"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 0ce24880f5b4afedc5ef
      X-Github-Media-Type:
      - github.v3
      Link:
      - <https://api.github.com/user/8459012/repos?access_token=d55cfff6fe63bb47913d8ba069734e56efd895be&page=2>;
        rel="next", <https://api.github.com/user/8459012/repos?access_token=d55cfff6fe63bb47913d8ba069734e56efd895be&page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":52560788,"name":"americas_funnies_home_gifs","full_name":"natevenn/americas_funnies_home_gifs","owner":{"login":"natevenn","id":8459012,"avatar_url":"https://avatars.githubusercontent.com/u/8459012?v=3","gravatar_id":"","url":"https://api.github.com/users/natevenn","html_url":"https://github.com/natevenn","followers_url":"https://api.github.com/users/natevenn/followers","following_url":"https://api.github.com/users/natevenn/following{/other_user}","gists_url":"https://api.github.com/users/natevenn/gists{/gist_id}","starred_url":"https://api.github.com/users/natevenn/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/natevenn/subscriptions","organizations_url":"https://api.github.com/users/natevenn/orgs","repos_url":"https://api.github.com/users/natevenn/repos","events_url":"https://api.github.com/users/natevenn/events{/privacy}","received_events_url":"https://api.github.com/users/natevenn/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/natevenn/americas_funnies_home_gifs","description":null,"fork":false,"url":"https://api.github.com/repos/natevenn/americas_funnies_home_gifs","forks_url":"https://api.github.com/repos/natevenn/americas_funnies_home_gifs/forks","keys_url":"https://api.github.com/repos/natevenn/americas_funnies_home_gifs/keys{/key_id}","collaborators_url":"https://api.github.com/repos/natevenn/americas_funnies_home_gifs/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/natevenn/americas_funnies_home_gifs/teams","hooks_url":"https://api.github.com/repos/natevenn/americas_funnies_home_gifs/hooks","issue_events_url":"https://api.github.com/repos/natevenn/americas_funnies_home_gifs/issues/events{/number}","events_url":"https://api.github.com/repos/natevenn/americas_funnies_home_gifs/events","assignees_url":"https://api.github.com/repos/natevenn/americas_funnies_home_gifs/assignees{/user}","branches_url":"https://api.github.com/repos/natevenn/americas_funnies_home_gifs/branches{/branch}","tags_url":"https://api.github.com/repos/natevenn/americas_funnies_home_gifs/tags","blobs_url":"https://api.github.com/repos/natevenn/americas_funnies_home_gifs/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/natevenn/americas_funnies_home_gifs/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/natevenn/americas_funnies_home_gifs/git/refs{/sha}","trees_url":"https://api.github.com/repos/natevenn/americas_funnies_home_gifs/git/trees{/sha}","statuses_url":"https://api.github.com/repos/natevenn/americas_funnies_home_gifs/statuses/{sha}","languages_url":"https://api.github.com/repos/natevenn/americas_funnies_home_gifs/languages","stargazers_url":"https://api.github.com/repos/natevenn/americas_funnies_home_gifs/stargazers","contributors_url":"https://api.github.com/repos/natevenn/americas_funnies_home_gifs/contributors","subscribers_url":"https://api.github.com/repos/natevenn/americas_funnies_home_gifs/subscribers","subscription_url":"https://api.github.com/repos/natevenn/americas_funnies_home_gifs/subscription","commits_url":"https://api.github.com/repos/natevenn/americas_funnies_home_gifs/commits{/sha}","git_commits_url":"https://api.github.com/repos/natevenn/americas_funnies_home_gifs/git/commits{/sha}","comments_url":"https://api.github.com/repos/natevenn/americas_funnies_home_gifs/comments{/number}","issue_comment_url":"https://api.github.com/repos/natevenn/americas_funnies_home_gifs/issues/comments{/number}","contents_url":"https://api.github.com/repos/natevenn/americas_funnies_home_gifs/contents/{+path}","compare_url":"https://api.github.com/repos/natevenn/americas_funnies_home_gifs/compare/{base}...{head}","merges_url":"https://api.github.com/repos/natevenn/americas_funnies_home_gifs/merges","archive_url":"https://api.github.com/repos/natevenn/americas_funnies_home_gifs/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/natevenn/americas_funnies_home_gifs/downloads","issues_url":"https://api.github.com/repos/natevenn/americas_funnies_home_gifs/issues{/number}","pulls_url":"https://api.github.com/repos/natevenn/americas_funnies_home_gifs/pulls{/number}","milestones_url":"https://api.github.com/repos/natevenn/americas_funnies_home_gifs/milestones{/number}","notifications_url":"https://api.github.com/repos/natevenn/americas_funnies_home_gifs/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/natevenn/americas_funnies_home_gifs/labels{/name}","releases_url":"https://api.github.com/repos/natevenn/americas_funnies_home_gifs/releases{/id}","deployments_url":"https://api.github.com/repos/natevenn/americas_funnies_home_gifs/deployments","created_at":"2016-02-25T22:16:10Z","updated_at":"2016-04-07T13:31:12Z","pushed_at":"2016-03-01T00:34:30Z","git_url":"git://github.com/natevenn/americas_funnies_home_gifs.git","ssh_url":"git@github.com:natevenn/americas_funnies_home_gifs.git","clone_url":"https://github.com/natevenn/americas_funnies_home_gifs.git","svn_url":"https://github.com/natevenn/americas_funnies_home_gifs","homepage":null,"size":81,"stargazers_count":1,"watchers_count":1,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":1,"mirror_url":null,"open_issues_count":5,"forks":1,"open_issues":5,"watchers":1,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":52055120,"name":"blogger","full_name":"natevenn/blogger","owner":{"login":"natevenn","id":8459012,"avatar_url":"https://avatars.githubusercontent.com/u/8459012?v=3","gravatar_id":"","url":"https://api.github.com/users/natevenn","html_url":"https://github.com/natevenn","followers_url":"https://api.github.com/users/natevenn/followers","following_url":"https://api.github.com/users/natevenn/following{/other_user}","gists_url":"https://api.github.com/users/natevenn/gists{/gist_id}","star[...]
