<div role="main" class="main-content">
  <div class="jumbotron jumbotron-home jumbotron-inverse">
    <div class='container-fluid'>
      <div class='col-lg-12 landing-page'>
        <div class='col-lg-6 col-lg-offset-6 text-center'>
          <h1>Welcome to GitNow</h1>
          <h3>Were Software is made</h3>
        </div>
      </div>
    </div>
  </div>
